body {
  /*background-color: yellow;*/
}

main {
width: 100%;
height: 100%;
margin: 35px auto;
}
.green {
  /*background-color: green;
  width: 600px;
  height: 600px;*/
  width: 33.33%;
  height: 570px;
  background-color: green;
  display: inline-block;
  vertical-align: top;
}
.white {
  width: 33.33%;
  height: 570px;
  background-color: white;
  display: inline-block;
  vertical-align: top;
  margin-left: -4px;
  position: relative;
}

.red {
  width: 33.33%;
  height: 570px;
  background-color: red;
  display: inline-block;
  vertical-align: top;
  margin-left: -4px;
}


.row_1 {
  width: 100%;
  height: 190px;
  margin: 0 auto;
}
.row_2 {
  width: 100%;
  height: 190px;
}
.row_3 {
  width: 100%;
  height: 190px;
}


#plate_1, #plate_2, #plate_3,#plate_4, #plate_5, #plate_6,#plate_7, #plate_8, #plate_9,#plate_10, #plate_11, #plate_12  {
  width: 150px;
  height: 150px;
display: inline-block;
padding: 28px;
margin-top: 3px;
}

.img_crop {
  width: 150px;
  height: 140px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  background-color: white;
}

#italy_1, #italy_2, #italy_3, #italy_4, #italy_5, #italy_6 {
  display: inline-block;
  width: 200px;
  height: 160px;
}

.message {
  border: 4px solid;
  border-style: outset;
  border-color: red;
  width: 90%;
  height: 70px;
  margin: 0 auto;
}
